.breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	li {
		float: left;
		a {
			color: white;
			text-decoration: none;
			padding: 6px 15px 6px 18px;
			background: #cecece;
			position: relative;
			display: block;
			float: left;
			&::after {
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;
				border-left: 8px solid #cecece;
				position: absolute;
				top: 50%;
				margin-top: -16px;
				left: 100%;
				z-index: 2;
			}
		}
		&:first-child {
			a {
				border-radius:6px 0 0 6px;
				padding-top:5px;
				padding-bottom:5px;
				border:solid 1px #cecece;
				background: #fff;
				color:#4a4a4a;
				&::after {
					border-left-color:#fff;
				}
			}
		}
		&.success {
			a {
				background: #7ed321;
				&::after {
					border-left-color: #7ed321;
				}
			}
		}
		&.warning {
			a {
				background: #fbbf00;
				&::after {
					border-left-color: #fbbf00;
				}
			}
		}
		&.error {
			a {
				background: #ec4a4a;
				&::after {
					border-left-color: #ec4a4a;
				}
			}
		}
	}
}
