$white: #fff;
$black: #000;

#content {
	display:block;
	padding-top:90px;
	background-color: #f0f3f3;
	min-height:calc(100% - 90px);
	height:auto;
	width:100%;
	z-index:1;
	margin-bottom:-30px;
	&:after {
		content: "";
		display: block;
		height: 30px;
	}
	&::before {
		content: '';
		display: block;
		width: 275px;
		height: 100%;
		background: #515769;
		position: fixed;
		left: 0;
		top: 0;
	}
	.left-col {
		display:block;
		float:left;
		width: 275px;
		position:relative;
		.title {
			border-bottom: solid 1px #7f889d;
			padding:0 20px 11px 20px;
			margin:20px 0 20px 7px;
			h4 {
				font-size: 20px;
				font-weight: 500;
				line-height:24px;
				color:$white;
				margin:0;
				padding:0;
			}
		}
		.search-container {
			margin:0 15px 23px 15px;
			.search {
				display:inline-block;
				width:100%;
				position:relative;
				input[type="text"] {
					width:calc(100% - 24px);
					padding:8px 12px;
					margin:0;
					border:none;
					border-radius:2px;
					font-size: 14px;
					text-align: left;
					line-height:16px;
					color: #565656;
				}
				.icon-search {
					display:inline-block;
					width:16px;
					height:16px;
					background:transparent url(/static/img/icon-search.png) no-repeat 0 0;
					background-size:contain;
					position:absolute;
					top:8px;
					right:12px;
				}
			}
		}
		.products-container {
			section {
				padding:0;
				margin:0 0 9px 0;
				.product-title {
					text-align: left;
					margin-bottom:15px;
					padding:0 10px 0 27px;
					h5 {
						font-size: 16px;
						line-height:19px;
						font-weight: 500;
						color: #49e7cb;
					}
				}
				.products {
					& > ul {
						display:inline-block;
						width:100%;
						margin:0;
						padding:0;
						font-size: 14px;
						line-height:16px;
						font-weight: 500;
						color: $white;
						li {
							display:inline-block;
							width:100%;
							margin:0 0 8px 0;
							padding:0;
							&:last-child {
								margin-bottom:0;
							}
							a {
								display:inline-block;
								width:calc(100% - 60px);
								margin:0;
								padding:5px 10px 6px 50px;
								cursor:pointer;
								color:$white;
								position:relative;
								&:after {
									content:'\276F';
									position:absolute;
									right:17px;
									top:5px;
								}
							}
							&.active {
								a {
									background:$white;
									color: #515769;
									cursor:default;
								}
							}
							& > input[type="checkbox"] {
								display: none;
								visibility: hidden;
								& + label {
									display: block;
									font-size: 14px;
									line-height:16px;
									font-weight: 500;
									color: $white;
									padding:5px 10px 6px 50px;
									width:calc(100% - 60px);
									position:relative;
									cursor:pointer;
									&::after {
										content: "+";
										display: inline-block;
										text-align:center;
										width: 18px;
										height: 18px;
										line-height:18px;
										margin-right: 3px;
										position:absolute;
										right:10px;
										top:4px;
										background:#2196f3;
										border-radius:100%;
									}
								}
								& ~ ul {
									display:none;
									padding-left:50px;
									margin-top:10px;
									margin-bottom:10px;
								}
								&:checked ~ ul {
									display:block;
								}
								&:checked ~ label::after {
									content: "\2013";
								}
							}
							.show-more {
								width:auto;
								padding:0;
								color:#49e7cb;
								float:right;
								font-size:12px;
								font-weight:300;
								margin-right:17px;
								margin-bottom:10px;
								&:after {
									content:'';
								}
							}
						}
					}
				}
			}
		}
	}
	.right-col {
		display:block;
		float:left;
		width:calc(100% - 275px);
		min-height:100%;
		z-index:2;
	}
}
.select2-container {
	min-width:65px;
	.select2-choice {
		background-color: $white;
		height:28px;
		> .select2-chosen {
			font-size:13px;
			font-weight:400;
			padding: 5px 28px 5px 8px;
			width: calc(100% - 36px);
		}
		> .select2-arrow {
			top:13px;
		}
	}
}
.select2-results {
	font-size:13px;
	line-height:17px;
	font-weight:400;
}
